<html>
<body>
    <h4>difference between arrow function and normal function.</h4>
<script>
      function myfunction(x) {
             if (x % 2 == 0) {
                  console.log(" it is an even number");
                 }

            else {

                console.log("it is odd number");
            }
        }
        myfunction(5);
       arrow = (x) => {
            if (x % 2 == 0)
                console.log(" it is an even number");

            else

               console.log(" it is an odd number");

            }, 
       arrow(2);
   </script>

</body>

</html>