<html>

<head>
    <h1 align="center">this is error handling</h1>
</head>
<button type="submit" onclick="errorshandling()">Click!</button>
<body>
    <script>
        function errorshandling() {
            var val = 10;
            test = val * 45;
            try {
                alert("this is try block");
            }
            catch {
                alert("this is error");
            }
            finally {
                console.log("test", val);
            }

        }
    </script>
</body>

</html>